/* You can add global styles to this file, and also import other style files */
$primary-color: #333333;
$secondary-color: #FFFFFF;
$success-color: #3DB46D;
$danger-color: #EB5757;
$neutral-color: #BDBDBD;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --success-color: #{$success-color};
    --danger-color: #{$danger-color};
    --neutral-color: #{$neutral-color};
}

@font-face {
    font-family: 'NotoSans';
    src: url(assets/fonts/Noto_Sans/NotoSans-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url(assets/fonts/Noto_Sans/NotoSans-Light.ttf) format('truetype');
}

html, body { width: 100%; min-width: 950px;}
body { margin: 0; padding: 0; box-sizing: content-box;}

*{ 
    font-family: 'NotoSans-Regular';
    font-size: 14px; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
